@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    color: #333333;
    font-family: "Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sabs-self;

    font-size: 1.6rem;
}

img{
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}



/* Header */

.site-title{
    margin: 0 0 0 60px;
}

.title-img{
    height: 40px;
}

/* ロゴの画像に気づかずつくったやつ
.site-title{
    font-size: 6.0rem;
    font-weight: bold;
    justify-content: left;
    margin: 0 0 0 60px;
}

.site-subtitle{
    text-align: left;
    justify-content: left;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0 0 0 10px;
}
*/


.header{
    background-color: #fff;
    border: solid 1px #c9c9c9;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-list{
    display: flex;
    /*justify-content: right;
    margin: auto;
    margin: 0 0 0 400px;*/
    margin: 0 48px 0 0;
}

.nav-item{
    margin: 0 0 0 48px;
}
.nav-item>a{
    color: black;
}


.nav-item>a:hover{
    display: inline-block;
    animation: hurueru .1s  infinite;
}



/* About */
.profile-wrapper{
    /*width: 1140px;*/
    margin: auto;
}

.profile__title{
    margin: 60px 0 40px;
    /* 上0 左右0 下40px */
    font-size: 2.4rem;
    font-weight: bold;
    color: #ffd700;
}

.profile__about{
    margin: 0 0 24px;
}

.profile__text{
    line-height: 2;
    margin: 0 0 60px 0;
}
.profile__text1{
    line-height: 2;
    margin: 0 0 30px 0;
}
.profile__text2{
    line-height: 2;
    margin: 0 0 30px 0;
}
.profile__text3{
    line-height: 2;
    margin: 0 0 60px 0;
}


.profile__eyecatch{
    margin: 0 0 24px;
}

/* News */
.wrapper{
    max-width: 1140px;
    margin: auto;
}

.news{
    padding: 80px 0;
    background-color: #fff;
}

.news__list{
    display: flex;
    margin: 0 0 64px;
}

.news__item{
    width: 33.3333%;
}

.news__title{
    margin: 0 0 24px;
    font-size: 2.4rem;
    font-weight: bold;
    color: #ffd700;
}

.news__sub{
    margin: 0 0 64px;
}

.news__eyecatch{
    margin: 0 8px 24px;
}

.news__contents{
    padding: 0 20px;
}

.news__heading{
    margin: 0 0 16px;
    font-weight: bold;
}

.news__comment{
    line-height: 1.75;
    text-align: justify;
}

.news__date{
    font-size: 1.2rem;
    color: #a9a9a9;
    line-height: 1.75;
}

.btn{
    display: block;
    width: 256px;
    margin: auto;
    padding: 21px 0;
    background-color: #ffd700;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}

/* Contact */
.contact{
    padding: 80px 0 64px;
}


.contact__title{
    margin: 0 0 24px;
    font-size: 2.4rem;
    font-weight: bold;
}

.contact__sub{
    margin: 0 0 64px;
}

.contact__text{
    line-height: 2;
    font-size: 1.6rem;
    margin: 0 0 30px 0;
}

.form-wrapper{
    width: 710px;
    margin: auto;
}

.form-inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 40px;
}

.form-title{
    width: 152px;
    margin: 0 20px 0 0;
    padding: 8px 0 0 0;
    font-weight: bold;
    text-align: right;
}

/*
.form-title.check-radio{
    padding: 0;
}
*/

.form-item{
    width: 388px;
    margin: 0 150px 32px 0;
    /*font-size: 1.4rem;*/
}

.form-parts{
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #c9c9c9;
    font-size: 1.6rem;
    padding: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-label{
    font-size: 1.4rem;
}

input[type*="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0 10px 16px 0;
    border: solid 1px #a0a0a0;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    vertical-align: -18px;
}

input[type*="radio"]:checked{
    background-color: #a0a0a0;
}

.btn-submit{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0 0 0 226px;
}


/* Hero Image */
.hero-image{
    position: relative;
}

.hero-image__text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    /*font-size: 4.5rem;*/
    font-size: 3.1vw;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.1em;
}

.hero-image__sub{
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate3d(-50%,-50%,0);
    /*font-size: 2.8rem;*/
    font-size: 2vw;
    color: #fff;
    letter-spacing: 0.1em;
}

/* Footer */
.footer{  
    padding: 24px 0;
    background-color: #707070;
}
.footer .wrapper{
    position: relative;
}
.btn-pagetop{
    position: absolute;
    top: -78px;
    right: 0;
    background-color: #707070;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.icon-up{
    display: block;
    padding: 10px 0;
    color: #fff;
    font-size: 2.4rem;
}

.copyrights{
    color: #fff;
}


/* Access */
.access{
    background-color: #f5f5f5;
    padding: 80px 0 64px;
}

.access__title{
    margin: 0 0 24px;
    font-size: 2.4rem;
    font-weight: bold;
}

.access__sub{
    margin: 0 0 64px;
}

.access__map{
    text-align: center;
    margin: 0 0 64px;
}

.access__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.access-title{
    width: 202px;
    margin: 0 20px 0 0;
    padding: 8px 0 16px 0;
    font-weight: bold;
    text-align: right;
}

.access-item{
    width: 338px;
    margin: 0 150px 0 0;
}

/*  Course   */
.course__wrapper{
    max-width: 1366px;
    margin: auto;
}

.course__title{
    margin: 64px 0 24px;
    font-size: 2.4rem;
    font-weight: bold;
}

.course__sub{
    margin: 0 0 64px;
}

.course__text{
    line-height: 2;
    margin: 0 0 60px 0;
}

.course__frame{
    display: flex;
    flex-wrap: wrap;
}

.course__item{
    /*width: 683px;*/
    width: 50%;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.course__sub{
    margin: 24px 24px 24px 60px;
}

.course__sub-right{
    /*margin: 128px 100px 24px 48px;*/
    margin: 4vw 8.0vw 2vw 4vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.course__text-right{
    /*margin: 0 100px 60px 48px;*/
    margin: 0 8vw 4vw 4vw;
    font-size: 1.0vw;
    line-height: 2;
}

.course__sub-left{
    /*margin: 128px 48px 24px 100px;*/
    margin: 4vw 4.0vw 2vw 8vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.course__text-left{
    /*margin: 0 48px 0 100px;*/
    margin: 0 4vw 4vw 8vw;
    font-size: 1.0vw;
    line-height: 2;
}


/* ---------------

CSSを適用していく時は、下記テンプレートをコピペして
波括弧の間に命令を書くようにしましょう！

↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ここからテンプレート ↓↓↓↓↓↓↓↓↓↓↓↓↓↓

.nickname{

}

↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ここからテンプレート ↑↑↑↑↑↑↑↑↑↑↑↑↑↑

---------------*/

/*画面全体の基本設定*/

/*画像を伸縮させるために必要*/



/*スマホ版の設定*/
@media screen and (max-width:640px){
    /* 最大640pxのデバイスで見た場合の設定という意味 */

    /* ----- Header ----- */
    .header{
        display: none;
        /* Headerは表示させない */
    }

    /* ----- Hero Image ----- */
    .hero-image{
        top: 0;
        width: auto;
        height: 100%;
        margin: 0 0 24px;
    }


    .hero-image__text{
        text-align: center;
        white-space: nowrap;

        top: 20%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        font-size: 4.5vw;
    }
    .hero-image__sub{
        font-size: 4.0vw;
        text-align: center;
        top: 60%;
        left: 40%;
        transform: translate3d(-30%,-50%,0);
    }
    /* ----- Hero Image ここまでまだ ----- */

    /* About */
    .profile__text{
        padding: 0 10px 0 10px;
        font-size: 1.2rem;
        text-align: left;
    }
    .profile__text1{
        padding: 0 10px 0 10px;
        font-size: 1.2rem;
        text-align: left;
    }
    .profile__text2{
        padding: 0 10px 0 10px;
        font-size: 1.2rem;
        text-align: left;
    }
    .profile__text3{
        padding: 0 10px 0 10px;
        font-size: 1.2rem;
        text-align: left;
    }
    .profile__eyecatch{
        width: 100%;
        align-items: center;
    }

    /* About ここまで終了 */

    /* ----- Course ----- */
    .course__item{
        font-size: 1.2rem;
    }
    .course__text{
        padding: 0 10px 0 10px;
        font-size: 1.2rem;
        text-align: left;
    }
    .course__frame{
        /* width: 100%; */
        display: flex;
        flex-direction: column;
    }
    .course__item{
        width: 100%;
    }
    .course__item1{
        order: 1;
    }
    .course__item2{
        order: 2;
    }
    .course__item3{
        order: 4;
    }

    .course__item4{
        order: 3;
    }
    .course__item5{
        order: 5;
    }
    .course__item6{
        order: 6;
    }
    .course__sub-right{
        font-size: 3.0vw;
        margin: 5vw 2vw 0;
    }
    .course__text-right{
        font-size: 3vw;
        margin: 2vw 2vw 5vw;
    }
    .course__sub-left{
        font-size: 3.0vw;
        margin: 5vw 2vw 0;
    }
    .course__text-left{
        font-size: 3vw;
        margin: 2vw 2vw 5vw;
    }
    /* ----- Course ここまで終了 ----- */

    /* ----- News ----- */
    .news__list{
        display: block;
        margin: 0 0 64px;
    }
    .news__item{
        width: 100%;
    }
    .news__contents{
        padding: 0 10px 20px 10px;
    }
    .news__comment{
        line-height: 1.5;
        font-size: 1.2rem;
    }
    /* ----- News ここまで終了 ----- */

    /* ----- Access ----- */
    .access__list{
        display: block;
        
    }
    .access-title{
        text-align: left;
        padding: 8px 0;
        font-size: 1.2rem;
    }
    .access-item{
        text-align: left;
        width: 100%;
        line-height: 1.5;
        margin: 0;
        font-size: 1.2rem;
    }

    /* ----- Access ここまで完了 ----- */

    /* ----- Contact ----- */
    .contact{
        padding: 80px 0 64px;
    }
    .contact__text{
        font-size: 1.2rem;
        text-align: left;
    }
    .form-wrapper{
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
    }
    .form-inner{
        /* 要素を縦並びにする */
        display: block;
        margin: 0 0 50px;
    }
    .form-title{
        width: 100%;
        text-align: left;
        margin: 0 0 20px;
        padding: 0;
    }
    .form-item{
        width: 100%;
        margin: 0 0 40px;
    }
    .form-parts{
        padding: 10px 8px;
        letter-spacing: -0.05em;
        border-radius: 0;
    }
    .form-label{
        margin: 0 20px 0 0;
        letter-spacing: -0.05em;
        line-height: 3;
    }
    .btn{
        width: 80%;
        font-size: 1.6rem;
        padding: 17px 0;
        margin: 0 10%;
        align-items: center;
    }
    .btn-submit{
        border-radius: 0;
    }
    /* ----- Contact ここまで完了 ----- */

    /* ----- Footer ----- */
    .footer{
        padding: 20px 0;
    }
    .copyrights{
        font-size: 1.2rem;
    }
    /* ----- Footerここまで終了 ----- */

    .br-pc{
        display: none;
    }
}


/* HeroImageの改行対策 */
@media screen and (min-width: 641px){
    .br-sp {
        display: none; 
    }
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}